#progress-bar.progress{:style => "display:none;"}
  .progress-bar.progress-bar-striped.active{:role => "progressbar", :style => "width: 0%"}
    %span#progress-bar-text.sr-only

= nested_form_for ["admin", @event] do |f|
  = errors_for @event
  .row
    .col-sm-6
    .col-sm-4
    .col-sm-2
      .actions
        = f.submit 'Submit', class: 'btn btn-success btn-lg', id: 'progress-bar', data: { disable_with: 'Uploading' }
        = link_to 'Back', :back, class: 'btn btn-danger btn-lg', data: { disable_with: 'Please wait' }

  .row
    .col-sm-4
      .form-group
        = f.label :name
        = f.text_field :name, placeholder: 'name', class: 'form-control', autofocus: true
    .col-sm-4
      .form-group
        = f.label :available_at
        = f.text_field :available_at, class: 'form-control'
    .col-sm-4
      .form-group
        = f.label :unavailable_at
        = f.text_field :unavailable_at, class: 'form-control'
  .row
    .col-sm-12
      .form-group
        = f.label :description
        = f.text_area :description, placeholder: 'description', class: 'form-control'

  .row
    .col-sm-12
      %i Supported formats: .jpg .jpeg .gif .png .mp4
      .form-group
        = f.label :attachment
        = f.file_field :attachment, class: 'form-control'
  .row
    .col-sm-12
      .form-group
        = f.label :page_body
        = f.cktext_area :page_body, placeholder: 'page body', class: 'form-control', size: 'x15'
      %hr
      = f.fields_for :event_items do |event_item_form|
        %p Event Item
        .row
          .col-sm-6
            .form-group
              = event_item_form.text_field :description, placeholder: 'description', class: 'form-control'
          .col-sm-6
            .form-group
              = event_item_form.check_box :flat_rate
              = event_item_form.label :flat_rate
        .row
          .col-sm-3
            .form-group
              .input-group
                .input-group-addon
                  $
                = event_item_form.text_field :price, placeholder: 'price', class: 'form-control'
          .col-sm-3
            .form-group
              .input-group
                = event_item_form.text_field :tax, placeholder: '0.0875', class: 'form-control'
                .input-group-addon
                  = "%"
          .col-sm-3
            .form-group
              = event_item_form.text_field :max_event, placeholder: 'max per event', class: 'form-control'
          .col-sm-3
            .form-group
              = event_item_form.text_field :max_order, placeholder: 'max per order', class: 'form-control'
        .row
          .col-sm-6
          .col-sm-6
            = event_item_form.link_to_remove "Remove Item", class: 'btn btn-danger btn-lg btn-block', data: { confirm: "Be careful when deleting, especially when someone has made a purchase on this item." }
      = f.link_to_add "Add Item", :event_items, class: 'btn btn-success btn-lg btn-block'
  %hr
  .row
    .actions.right
      = f.submit 'Submit', class: 'btn btn-success btn-lg', id: 'progress-bar', data: { disable_with: 'Uploading' }
      = link_to 'Back', :back, class: 'btn btn-danger btn-lg', data: { disable_with: 'Please wait' }

:javascript
  $('#event_available_at').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss ZZ', sideBySide: true});
  $('#event_unavailable_at').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss ZZ', sideBySide: true});
  $('#event_starts_on').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss ZZ', sideBySide: true});
  $('#event_ends_on').datetimepicker({format: 'YYYY-MM-DD HH:mm:ss ZZ', sideBySide: true});
