%h1= @event.name
.container-fluid
  .content-wrapper
    .item-container
      .container
        .col-md-1
        .col-md-10
          %h4= @event.description
          %br
            -#Event Dates:
              = @event.dates
          = @event.page_body.html_safe
        .col-md-1
        %hr
    .container-fluid
      .col-md-12.product-info
        %ul#myTab.nav.nav-tabs.nav_tabs
          %li.active
            = link_to 'Event Items', "#service-one", "data-toggle" => "tab"
        #myTabContent.tab-content
          #service-one.tab-pane.fade.in.active
            %section.container.product-info
              .row
                .col-sm-12
                  %h4 Event Items
                  %div{style: "overflow-x:auto;"}
                    %table.table
                      %thead
                        %tr
                          %th Description
                          %th Price
                          %th Tax
                          %th Suites Available
                          %th Maximum per Order
                          %th
                      %tbody
                        - @event.event_items.each do |ei|
                          %tr
                            %td= ei.description
                            %td= number_to_currency(ei.price)
                            %td= ei.tax > 0.0 ? number_to_percentage(ei.tax * 100, precision: 2) : '--'
                            %td= ei.max_event
                            %td= ei.max_order
                            %td.right
                              = link_to 'Order!', "#", class: 'btn btn-primary btn-lg'
= link_to 'back', admin_events_path, class: 'btn btn-danger btn-lg'
