.row
  .col-md-3
  .col-md-5
    #login-box
      .logo
        = image_tag 'towers.jpg', class: 'img-responsive img-circle center-block'
        %h1.logo-caption
          %span.tweak Edit #{resource_name.to_s.humanize}
      .controls
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          = errors_for resource, false
          .form-group
            = f.label :email
            = f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %p.help-block leave blank if you don't want to change it
            = f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'password confirmation', class: 'form-control'
          %hr{style: "border-top:1px solid gray"}
          .form-group
            = f.label :current_password
            = f.password_field :current_password, autocomplete: "off", placeholder: 'current password', class: 'form-control'
            %p.help-block we need your current password to confirm your changes
          .form-group.right
            = f.submit "Update", class: 'btn btn-success'
        %hr{style: "border-top:1px solid gray"}
        %h4 Cancel my account
        %p Unhappy?
        .form-group.right
          = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
        = link_to "Back", :back, class: 'btn btn-primary'
  .col-md-4
