.row
  .col-md-3
  .col-md-5
    #login-box
      .logo
        = image_tag 'towers.jpg', class: 'img-responsive img-circle center-block'
        %h1.logo-caption
          %span.tweak Sign Up
      .controls
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = errors_for resource, false
          .form-group
            = f.label :email
            = f.email_field :email, placeholder: 'email', class: 'form-control', autofocus: true
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'form-control'
          .form-group
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'password confirmation', class: 'form-control'
          .form-group
            = recaptcha_tags
          .form-group.right
            = f.submit "Sign up", class: 'btn btn-success btn-lg'
        = render "devise/shared/links"
  .col-md-4
