%h2 Dashboard
%hr
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            = text_icon :users, class: 'fa-5x'
          .col-xs-9.right
            .huge
              = @users.count
            Active Users
      = link_to admin_path(action: 'users') do
        .panel-footer
          %span.pull-left
            View Details
          %span.pull-right
            = text_icon :arrow_circle_right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            = text_icon :calendar, class: 'fa-5x'
          .col-xs-9.right
            .huge
              = @events.count
            Available Events
      = link_to admin_path(action: 'events') do
        .panel-footer
          %span.pull-left
            View Details
          %span.pull-right
            = text_icon :arrow_circle_right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            = text_icon :shopping_cart, class: 'fa-5x'
          .col-xs-9.right
            .huge
              = @orders.count
            New Orders
      = link_to admin_path(action: 'orders') do
        .panel-footer
          %span.pull-left
            View Details
          %span.pull-right
            = text_icon :arrow_circle_right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            = text_icon :shopping_cart, class: 'fa-5x'
          .col-xs-9.right
            .huge
              = @order_products.count
            New Product Orders
      = link_to admin_path(action: 'order_products') do
        .panel-footer
          %span.pull-left
            View Details
          %span.pull-right
            = text_icon :arrow_circle_right
          .clearfix
