.row
  .col-md-3
  .col-md-6
    .well
      %h2.center Resend Unlock Instructions
      = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
        = errors_for resource, false
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, placeholder: 'email', class: 'form-control'
        .form-group.right
          = f.submit "Resend", class: 'btn btn-success'
      = render "devise/shared/links"
  .col-md-3
