%h2 Order Details

.row
  .col-md-4
    %h3 Additional Comments:
    %p= @order.comments unless @order.comments.nil?
%hr
.receipt
  .row
    .col-sm-6
      %address
        %p
          %strong Name:
          = @order.user.full_name
        %p
          %strong Phone #:
          = number_to_phone @order.user.phone_to_int
        %p
          %strong Address:
          = @order.user.address
        %p
          %strong City:
          = @order.user.city
        %p
          %strong State:
          = @order.user.state
        %p
          %strong Postal Code:
          = @order.user.postal_code
        %p
          %strong Country:
          = @order.user.country
      %p
        %strong Order Status:
        = @order.extended_status
    .col-xs-6.col-sm-6.col-md-6.text-right
      - if @order.finalized_on
        %p
          %em= "Verified On: #{@order.finalized_on.strftime('%m/%d/%Y %l:%M%p')}"
      - if @order.placed_at
        %p
          %em= "Auth Code: #{@order.auth_code}"
        %p
          %em= "Transaction ID: #{@order.transaction_id}"
        %p
          %em= "Placed At: #{@order.placed_at.strftime('%m/%d/%Y %l:%M%p')}"
        %p
          %em= "Order ID: #{@order.id}"

      = image_tag @order.event_item.event.attachment
  %br
  .row
    %div{style: "overflow-x:auto;"}
      %table.table.table-hover
        %thead
          %tr
            %th Item Name
            %th Quantity
            %th Tax
            %th.text-center Total
        %tbody
          %tr
            %td= @order.event_item.event.name
            %td.text-center= @order.quantity
            %td.text-center= @order.event_item.tax > 0.0 ? number_to_percentage(@order.event_item.tax * 100, precision: 2) : '--'
            %td.text-right= number_to_currency(@order.event_item.price)
          %tr
            %td  
            %td  
            %td.text-right
              %h4
                %strong Total: 
            %td.text-center.text-danger
              %h4
                %strong= number_to_currency @order.total
%br
= link_to 'Orders', admin_orders_path, class: 'btn btn-primary btn-lg'
= link_to 'Modify Order', edit_admin_order_path(@order), class: 'btn btn-info btn-lg' unless @order.cant_edit_status
