%h2 Show User

.row
  .col-sm-1
    = image_tag @user.gravatar_url(secure: true)
  .col-sm-11
    %br
    %br
    %h4= @user.email
%hr
%p
  %strong Current Sign In:
  = @user.current_sign_in_at.strftime('%Y-%m-%dT%H:%M:%S%z') rescue ''
%p
  %strong Locked At:
  = @user.locked_at.strftime('%Y-%m-%dT%H:%M:%S%z') rescue ''

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
