.row
  .col-md-3
  .col-md-5
    #login-box
      .logo
        = image_tag 'towers.jpg', class: 'img-responsive img-circle center-block'
        %h1.logo-caption
          %span.tweak Forgot Your Password?
      .controls
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = errors_for resource, false
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, placeholder: 'email', class: 'form-control'
          .form-group
            = recaptcha_tags
          .form-group.right
            = f.submit "Send Password Reset Instructions", class: 'btn btn-success btn-lg'
        = render "devise/shared/links"
  .col-md-4
