.nav_wrap
  %iframe#nav{src: class_list_path}

  #resizer
#main{:tabindex => "-1"}
  #header
    #menu
    #search
      = link_to "", class_list_path, class: 'class_list_link.full_list_link'
      %svg{height: "24", width: "24"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "4"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "12"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "20"}
    .clear
  #content
    %h1.noborder.title Documentation by YARD 0.9.9
    %h3 Rewritten by: Vincent Davis
    #listing
      %h1.alphaindex Alphabetic Index

      %h2 Class Structure
      %ul#files.index_inline_list
        %li.r1= link_to 'Class Structure', class_structure_path, title: "ClassStructure"

      %h2 File Listing
      %ul#files.index_inline_list
        %li.r1= link_to "README", readme_path, title: "README"
      .clear

      %h2 Namespace Listing A-Z
      %ul.toplevel
        %li
          %span.object_link
            = link_to 'Top Level Namespace', top_level_namespace_path, title: "Top Level Namespace (root)"
      %table
        %tr
          %td{valign: "top", width: "33%"}
            %ul#alpha_A.alpha
              %li.letter A
              %ul
                %li
                  %span.object_link= link_to "Ability", docs_models_ability_path, title: "Ability (class)"
                  %small (Models-&gt;Ability)

                %li
                  %span.object_link= link_to "Admin", docs_modules_admin_path, title: "Admin (module)"
                  %small (Modules-&gt;Admin)

                %li
                  %span.object_link= link_to "AdminController", docs_controllers_admin_controller_path, title: "AdminController (class)"
                  %small (Controllers-&gt;AdminController)

                %li
                  %span.object_link= link_to "Application", docs_controllers_application_path, title: "Events::Application (class)"
                  %small (Controllers-&gt;Application)

                %li
                  %span.object_link= link_to "ApplicationCable", docs_modules_action_cable_path, title: "ApplicationCable (module)"
                  %small (Modules-&gt;ApplicationCable)

                %li
                  %span.object_link= link_to "ApplicationController", docs_controllers_application_controller_path, title: "ApplicationController (class)"
                  %small (Controllers-&gt;ApplicationController)

                %li
                  %span.object_link= link_to "ApplicationHelper", docs_helpers_application_helper_path, title: "ApplicationHelper (module)"
                  %small (Modules-&gt;ApplicationHelper)

                %li
                  %span.object_link= link_to "ApplicationJob", docs_jobs_application_job_path, title: "ApplicationJob (class)"
                  %small (Jobs-&gt;ApplicationJob)

                %li
                  %span.object_link= link_to "ApplicationMailer", docs_mailers_application_mailer_path, title: "ApplicationMailer (class)"
                  %small (Mailers-&gt;ApplicationMailer)

                %li
                  %span.object_link= link_to "ApplicationRecord", docs_models_application_record_path, title: "ApplicationRecord (class)"
                  %small (Models-&gt;ApplicationRecord)

                %li
                  %span.object_link= link_to "ApplicationResponder", docs_libs_application_responder_path, title: "ApplicationResponder (class)"
                  %small (Libs-&gt;ApplicationResponder)

                %li
                  %span.object_link= link_to "Asset", docs_models_ckeditor_asset_path, title: "Ckeditor::Asset (class)"
                  %small (Models-&gt;Ckeditor-&gt;Asset)

                %li
                  %span.object_link= link_to "AttachmentFile", docs_uploaders_ckeditor_attachment_file_uploader_path, title: "Ckeditor::AttachmentFile (class)"
                  %small (Uploaders-&gt;Ckeditor-&gt;AttachmentFile)

                %li
                  %span.object_link= link_to "AttachmentUploader", docs_uploaders_attachment_uploader_path, title: "AttachmentUploader (class)"
                  %small (Uploaders-&gt;AttachmentUploader)

                %li
                  %span.object_link= link_to "AttachmentsController", docs_admin_controllers_attachment_controller_path, title: "Admin::AttachmentsController (class)"
                  %small (Admin-&gt;Controller-&gt;AttachmentsController)

            %ul#alpha_C.alpha
              %li.letter C
              %ul
                %li
                  %span.object_link= link_to "Cart", docs_models_cart_path, title: "Cart (class)"
                  %small (Models-&gt;Cart)

                %li
                  %span.object_link= link_to "CartItem", docs_models_cart_item_path, title: "CartItem (class)"
                  %small (Models-&gt;CartItem)

                %li
                  %span.object_link= link_to "CartsController", docs_controllers_carts_controller_path, title: "CartsController (class)"
                  %small (Controllers-&gt;CartsController)

                %li
                  %span.object_link= link_to "CategoriesController", docs_admin_controllers_categories_controller_path, title: "Admin::CategoriesController (class)"
                  %small (Admin-&gt;Controllers-&gt;CategoriesController)

                %li
                  %span.object_link= link_to "Category", docs_models_category_path, title: "Category (class)"
                  %small (Models-&gt;Category)

                %li
                  %span.object_link= link_to "CkeditorAttachmentFileUploader", docs_uploaders_ckeditor_attachment_file_uploader_path, title: "CkeditorAttachmentFileUploader (class)"
                  %small (Uploaders-&gt;CkeditorAttachmentFileUploader)

                %li
                  %span.object_link= link_to "CkeditorPictureUploader", docs_uploaders_ckeditor_picture_uploader_path, title: "CkeditorPictureUploader (class)"
                  %small (Uploaders-&gt;CkeditorPictureUploader)

            %ul#alpha_E.alpha
              %li.letter E
              %ul
                %li
                  %span.object_link= link_to "Event", docs_models_event_path, title: "Event (class)"
                  %small (Models-&gt;Event)

                %li
                  %span.object_link= link_to "EventItem", docs_models_event_item_path, title: "EventItem (class)"
                  %small (Models-&gt;EventItem)

                %li
                  %span.object_link= link_to "EventTest", docs_tests_event_test_path, title: "EventTest (class)"
                  %small (Tests-&gt;EventTest)

                %li
                  %span.object_link= link_to "Events", docs_modules_events_path, title: "Events (modules)"
                  %small (Modules-&gt;Events)

                %li
                  %span.object_link= link_to "EventsController", docs_controllers_events_controller_path, title: "EventsController (class)"
                  %small (Controllers-&gt;EventsController)

                %li
                  %span.object_link= link_to "EventsController", docs_admin_controllers_events_controller_path, title: "Admin::EventsController (class)"
                  %small (Admin-&gt;Controllers-&gt;EventsController)

                %li
                  %span.object_link= link_to "EventsControllerTest", docs_tests_events_controller_test_path, title: "EventsControllerTest (class)"
                  %small (Tests-&gt;EventsControllerTest)

            %ul#alpha_H.alpha
              %li.letter H
              %ul
                %li
                  %span.object_link= link_to "HomeController", docs_controllers_home_controller_path, title: "HomeController (class)"
                  %small (Controllers-&gt;HomeController)

                %li
                  %span.object_link= link_to "HomeControllerTest", docs_tests_home_controller_test_path, title: "HomeControllerTest (class)"
                  %small (Tests-&gt;HomeControllerTest)

            %ul#alpha_L.alpha
              %li.letter L
              %ul
                %li
                  %span.object_link= link_to "LayoutsController", docs_controllers_layouts_controller_path, title: "LayoutsController (class)"
                  %small (Controllers-&gt;LayoutsController)

                %li
                  %span.object_link= link_to "LayoutsController", docs_admin_controllers_layouts_controller_path, title: "Admin::LayoutsController (class)"
                  %small (Admin-&gt;Controllers-&gt;LayoutsController)

            %ul#alpha_O.alpha
              %li.letter O
              %ul
                %li
                  %span.object_link= link_to "Order", docs_models_order_path, title: "Order (class)"
                  %small (Models-&gt;Order)

                %li
                  %span.object_link= link_to "OrderMailer", docs_mailers_order_mailer_path, title: "OrderMailer (class)"
                  %small (Mailers-&gt;OrderMailer)

                %li
                  %span.object_link= link_to "OrderProduct", docs_models_order_product_path, title: "OrderProduct (class)"
                  %small (Models-&gt;OrderProduct)

                %li
                  %span.object_link= link_to "OrderProductItem", docs_models_order_product_item_path, title: "OrderProductItem (class)"
                  %small (Models-&gt;OrderProductItem)

                %li
                  %span.object_link= link_to "OrderProductMailer", docs_mailers_order_product_mailer_path, title: "OrderProductMailer (class)"
                  %small (Mailers-&gt;OrderProductMailer)

                %li
                  %span.object_link= link_to "OrderProductsController", docs_controllers_order_products_controller_path, title: "OrderProductsController (class)"
                  %small (Controllers-&gt;OrderProductsController)

                %li
                  %span.object_link= link_to "OrderProductsController", docs_admin_controllers_order_products_controller_path, title: "Admin::OrderProductsController (class)"
                  %small (Admin-&gt;Controllers-&gt;OrderProductsController)

                %li
                  %span.object_link= link_to "OrdersController", docs_admin_controllers_orders_controller_path, title: "Admin::OrdersController (class)"
                  %small (Admin-&gt;Controllers-&gt;OrdersController)

                %li
                  %span.object_link= link_to "OrdersController", docs_controllers_orders_controller_path, title: "OrdersController (class)"
                  %small (Controllers-&gt;OrdersController)

            %ul#alpha_P.alpha
              %li.letter P
              %ul
                %li
                  %span.object_link= link_to "PasswordsController", docs_controllers_passwords_controller_path, title: "PasswordsController (class)"
                  %small (Controllers-&gt;PasswordsController)

                %li
                  %span.object_link= link_to "Picture", docs_models_ckeditor_picture_path, title: "Ckeditor::Picture (class)"
                  %small (Models-&gt;Ckeditor-&gt;Picture)

                %li
                  %span.object_link= link_to "Product", docs_models_product_path, title: "Product (class)"
                  %small (Models-&gt;Product)

                %li
                  %span.object_link= link_to "ProductWorker", docs_workers_product_worker_path, title: "ProductWorker (class)"
                  %small (Workers-&gt;ProductWorker)

                %li
                  %span.object_link= link_to "ProductsController", docs_admin_controllers_products_controller_path, title: "Admin::ProductsController (class)"
                  %small (Admin-&gt;Controllers-&gt;ProductsController)

                %li
                  %span.object_link= link_to "ProductsController", docs_controllers_products_controller_path, title: "ProductsController (class)"
                  %small (Controllers-&gt;ProductsController)

          %td{valign: "top", width: "33%"}
            %ul#alpha_R.alpha
              %li.letter R
              %ul
                %li
                  %span.object_link= link_to "RegistrationsController", docs_controllers_registrations_controller_path, title: "RegistrationsController (class)"
                  %small (Controllers-&gt;RegistrationsController)

                %li
                  %span.object_link= link_to "RestoreController", docs_controllers_restore_controller_path, title: "RestoreController (class)"
                  %small (Controllers-&gt;RestoreController)

                %li
                  %span.object_link= link_to "Role", docs_models_role_path, title: "Role (class)"
                  %small (Models-&gt;Role)

                %li
                  %span.object_link= link_to "RoleTest", docs_tests_role_test_path, title: "RoleTest (class)"
                  %small (Tests-&gt;RoleTest)

                %li
                  %span.object_link= link_to "RolesController", docs_admin_controllers_roles_controller_path, title: "Admin::RolesController (class)"
                  %small (Admin-&gt;Controllers-&gt;RolesController)

                %li
                  %span.object_link= link_to "RolesControllerTest", docs_tests_roles_controller_test_path, title: "RolesControllerTest (class)"
                  %small (Tests-&gt;Controllers-&gt;RolesControllerTest)

            %ul#alpha_T.alpha
              %li.letter T
              %ul
                %li
                  %span.object_link= link_to "ThumbnailWorker", docs_workers_thumbnail_worker_path, title: "ThumbnailWorker (class)"
                  %small (Workers-&gt;ThumbnailWorker)

            %ul#alpha_U.alpha
              %li.letter U
              %ul
                %li
                  %span.object_link= link_to "User", docs_models_user_path, title: "User (class)"
                  %small (Models-&gt;User)

                %li
                  %span.object_link= link_to "UserRole", docs_models_user_role_path, title: "UserRole (class)"
                  %small (Models-&gt;UserRole)

                %li
                  %span.object_link= link_to "UserTest", docs_tests_user_test_path, title: "UserTest (class)"
                  %small (Tests-&gt;UserTest)

                %li
                  %span.object_link= link_to "UsersController", docs_controllers_users_controller_path, title: "UsersController (class)"
                  %small (Controllers-&gt;UsersController)

                %li
                  %span.object_link= link_to "UsersController", docs_admin_controllers_users_controller_path, title: "Admin::UsersController (class)"
                  %small (Admin-&gt;Controllers-&gt;UsersController)

  #footer
    %p
      Edited by Vincent Davis on Web Nov 8 13:40:00 2017
    %p
      Generated on Fri Oct 27 15:36:48 2017 by
      = link_to 'yard 0.9.9 (ruby-2.4.1).', 'https://yardoc.org',target: :_blank, title: "Yay! A Ruby Documentation Tool"
