.nav_wrap
  %iframe#nav{src: class_list_path}
  #resizer
#main{:tabindex => "-1"}
  #header
    #menu
      = link_to 'Index', docs_path
      \&#187;
      %span.title File: README
    #search
      = link_to "", class_list_path, class: 'class_list_link.full_list_link'
      %svg{height: "24", width: "24"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "4"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "12"}
        %rect{height: "4", rx: "1", ry: "1", width: "24", x: "0", y: "20"}
    .clear
  %br
  #content
    #filecontents
      %h1 University Housing Events
      %ul
        %li= link_to 'Homepage', 'https://events.housing.siu.edu', target: :_blank
        %li IP Address: 131.230.116.221
        %li
          %p= link_to 'Documentation', 'https://github.com/UniversityHousing/events/wiki', target: :_blank
        %li
          %p Authors
          %ul
            %li= link_to '@awoodworth', 'https://github.com/awoodworth', target: :_blank
            %li= link_to '@easyip2023', 'https://github.com/easyip2023', target: :_blank
            %li= link_to '@jmiller70', 'https://github.com/jmiller70', target: :_blank
  #footer
    %p
      Edited by Vincent Davis on Web Nov 1 15:40:00 2017
    %p
      Generated on Fri Oct 27 15:36:48 2017 by
      = link_to 'yard 0.9.9 (ruby-2.4.1).', 'https://yardoc.org',target: :_blank, title: "Yay! A Ruby Documentation Tool"
