%header.jumbotron.hero-spacer

  %p Welcome to the University Housing Event registration page! You may now register for an account. In order to purchase any event, you must register and update your account. You may then click "Show" and proceed to purchase the event.
  %p= link_to 'Sign Up!', new_registration_path(User.new), class: 'btn btn-lg btn-primary'
  %li= link_to  'Click here for further details', 'http://housing.siu.edu/eclipse'
- if current_user
  %hr
  .row
    .col-lg-3.col-md-6
      %div.panel.panel-yellow
        .panel-heading
          .row
            .col-xs-12
              %h2 Orders
        = link_to orders_path do
          .panel-footer
            %span.pull-left
              View Details
            %span.pull-right
              = text_icon :arrow_circle_right
            .clearfix

%hr
.row.text-center
  .col-lg-12
    %h3 Latest Events

.row.text-center
  - @events.each do |event|
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        - unless event.attachment.nil?
          - if (event.attachment.content_type.include? 'image')
            = image_tag event.attachment
          - else
            = videojs_rails sources: { mp4: event.attachment.url }, width: '265', height: '230'
        .caption
          %h3= event.name
          %p= event.description
          %p= link_to 'show', event, class: 'btn btn-default'

%hr
.row.text-center
  .col-lg-12
    %h3 Latest Products
.row.text-center
  - @products.each do |prod|
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        - unless prod.attachments.empty?
          - if (prod.attachments.first.content_type.include? 'image')
            = image_tag prod.attachments.first.url
          - else
            = videojs_rails sources: { mp4: prod.attachments.first.url }, class: 'video'
        .caption
          %h3= prod.name
          %p= prod.description
          %p= number_to_currency prod.price
          %p
            = link_to 'add to cart', add_cart_path(prod), method: :post, class: 'btn btn-success'
            = link_to 'Show', prod, class: 'btn btn-default'
