%header.jumbotron.hero-spacer


  %p Welcome to Univeristy Housing Events, there are no events available at this time.
  - if current_user.nil?
    = link_to 'Sign Up!', new_registration_path(User.new), class: 'btn btn-lg btn-primary'
  - else
    - if current_user.check_nullity?
      = link_to 'Update Account', auto_update_role_cart_url, method: :post, class: 'btn btn-lg btn-info'
  -#= link_to  'University Hall Eclipse Housing details', 'http://housing.siu.edu/eclipse', class: 'btn btn-info btn-lg', target: :_blank
  -#= link_to  'Purchasing Instructions', layouts_instructions_path , class: 'btn btn-warning btn-lg', target: :_blank
  -#= link_to  'Terms and Conditions', layouts_terms_path , class: 'btn btn-info btn-lg', target: :_blank
  -#= link_to  'Assumption of Risk', layouts_risk_path, class: 'btn btn-warning btn-lg', target: :_blank
- if current_user
  %hr
  .row
    .col-lg-3.col-md-6
      %div.panel.panel-yellow
        .panel-heading
          .row
            .col-xs-12
              %h2 Orders
        = link_to orders_path do
          .panel-footer
            %span.pull-left
              View Details
            %span.pull-right
              = text_icon :arrow_circle_right
            .clearfix

%hr
.row.text-center
  .col-lg-12
    %h3 Latest Events

.row.text-center
  - @events.each do |event|
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        - unless event.attachment.nil?
          - if (event.attachment.content_type.include? 'image')
            = image_tag event.attachment
          - else
            = videojs_rails sources: { mp4: event.attachment.url }, width: '265', height: '230'
        .caption
          %h3= event.name
          %p= event.description
          %p= link_to 'show', event, class: 'btn btn-default'

%hr
.row.text-center
  .col-lg-12
    %h3 Latest Products
.row.text-center
  - @products.each do |prod|
    .col-md-3.col-sm-6.hero-feature
      .thumbnail
        - unless prod.attachments.empty?
          - if (prod.attachments.first.content_type.include? 'image')
            = image_tag prod.attachments.first.url
          - else
            = videojs_rails sources: { mp4: prod.attachments.first.url }, class: 'video'
        .caption
          %h3= prod.name
          %p= prod.description
          %p= number_to_currency prod.price
          %p
            = link_to 'add to cart', add_cart_path(prod), method: :post, class: 'btn btn-success'
            = link_to 'Show', prod, class: 'btn btn-default'
