.row
  .col-lg-12
    %h2 Events

%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Name
        %th Available at
        %th Unavailable at
        %th Starts on
        %th Ends on
        %th
    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.available_at
          %td= event.unavailable_at
          %td= event.starts_on
          %td= event.ends_on
          %td.right= object_actions event
.row
  .col-lg-12
    = link_to 'New Event', new_event_path, class: 'btn btn-success btn-large btn-block'
