.row
  .col-sm-8
    %h1= @event.name
    %h4= @event.description
  .col-sm-4.right
    %br
    Event Dates:
    = @event.dates
%hr
= @event.page_body.html_safe

%hr
.row
  .col-sm-12
    %h4 Event Items
    %div{style: "overflow-x:auto;"}
      %table.table
        %thead
          %tr
            %th Description
            %th Price
            %th Tax
            %th Flat Rate
            %th Maximum per Event
            %th Maximum per Order
            %th Minimum Days
            %th
        %tbody
          - @event.event_items.each do |ei|
            %tr
              %td= ei.description
              %td= number_to_currency(ei.price)
              %td= ei.tax > 0.0 ? ei.tax : '--'
              %td= ei.flat_rate ? "Y" : "N"
              %td= ei.max_event
              %td= ei.max_order
              %td= ei.min_freq
              %td.right
                - if current_user
                  = link_to '#', "data-toggle" => "modal", "data-target" => "#order-modal-#{ei.id}" do
                    %span.label.label-primary Order!
                - else
                  = link_to new_registration_path(User.new) do
                    %span.label.label-primary Sign Up!

- if current_user
  - @event.event_items.each do |ei|
    .modal.fade{tabindex: '-1', role: 'dialog', id: "order-modal-#{ei.id}"}
      = form_for @order, remote: true, data: { rel: "#modal-header-#{ei.id}", target: "#errors-#{ei.id}" } do |f|
        .modal-dialog.modal-md{role: 'document'}
          .modal-content
            .modal-header{id: "modal-header-#{ei.id}"}
              %button.close{type: 'button', "data-dismiss" => "modal", "aria-label" => "Close"}
                %span{"aria-hidden" => "true"}
                  &times;
              %h4 Order Summary
            .modal-body
              %div{id: "errors-#{ei.id}"}
              %h4= @event.name
              %p
                Item:
                = ei.description
              %hr
              = f.hidden_field :event_item_id, value: ei.id
              %strong Item Infomation
              %br
              .row
                .col-sm-4
                  .form-group
                    = f.label :quantity
                    = f.select :quantity, options_for_select((1..ei.max_order).to_a, selected: '1'), {prompt: 'quantity'}, {class: 'form-control selectpicker', required: true}
                .col-sm-4
                  .form-group
                    = f.label :start_date
                    = f.select :start_date, options_for_select((@event.starts_on.to_date..@event.ends_on.to_date).map{ |d| [d.strftime('%a, %b %d, %Y'), d.strftime('%Y-%m-%d')] }), {prompt: 'start date'}, {class: 'form-control selectpicker', required: true}
                .col-sm-4
                  .form-group
                    = f.label :end_date
                    = f.select :end_date, options_for_select((@event.starts_on.to_date..@event.ends_on.to_date).map{ |d| [d.strftime('%a, %b %d, %Y'), d.strftime('%Y-%m-%d')] }), {prompt: 'end date'}, {class: 'form-control selectpicker', required: true}
              %hr
              %strong Demographic Infomation
              %br
              .row
                .col-sm-6
                  .form-group
                    = f.text_field :first_name, placeholder: 'first name', class: 'form-control', required: true
                .col-sm-6
                  .form-group
                    = f.text_field :last_name, placeholder: 'last name', class: 'form-control', required: true
                %br
              %i NOTE: this does not submit your order, nor does it ensure availability of item
            .modal-footer
              %button.btn.btn-default{type: 'button', "data-dismiss" => "modal"}
                Close
              = f.submit 'Create Order', class: 'btn btn-success'
