= form_for order do |f|
  = errors_for order, false
  .container-fluid
    .content-wrapper
      .row
        %h3= order.event_item.event.name

      .row
        .col-sm-2
        .col-sm-8
          %h4
            Item:
            = order.event_item.description
        .col-sm-2
      %hr
      .row
        .col-sm-4
        .col-sm-4
          %strong Item Infomation
        .col-sm-4
      %br
      .row
        .col-sm-1
        .col-sm-10
          .form-group
            = f.label :comments
            = f.text_area :comments, placeholder: 'Additional Comments', class: 'form-control'
        .col-sm-1
      %br
      .row
        .col-sm-1
        .col-sm-10
          .form-group
            = f.label :quantity
            = f.select :quantity, options_for_select((1..order.event_item.max_order).to_a, selected: '1'), {prompt: 'quantity'}, {class: 'form-control selectpicker', required: true}
        .col-sm-1
      %hr
      %br
      .actions.right
        = f.submit 'Update Order', class: 'btn btn-success btn-lg'
        = link_to 'Cancel', :back, class: 'btn btn-danger btn-lg'
      %br
