%h1 Orders
- unless @products.nil?
  %hr
  .row.text-center
    - @products.each do |prod|
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          - if (prod.attachments.first.content_type.include? 'image')
            = image_tag prod.attachments.first.url
          - else
            = videojs_rails sources: { mp4: prod.attachments.first.url }, class: 'video'
          .caption
            %h3= prod.name
            %p= prod.description
            %p= number_to_currency prod.price
            %p
              = link_to 'add to cart', add_cart_path(prod), method: :post, class: 'btn btn-success'
              = link_to 'Show', prod, class: 'btn btn-default'
%hr
.pricing-table.pricing-three-column.row
  %h3 Event Orders
  - @orders.each do |order|
    .plan.col-sm-4.col-lg-4
      - if order.status == Order::VALIDATED_STATUS
        .plan-name-gold
          %h2= "#{order.event_item.event.name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= "quantity: #{order.quantity}"
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == Order::PROGRESS_STATUS
        .plan-name-silver
          %h2= "#{order.event_item.event.name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= "quantity: #{order.quantity}"
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == Order::DECLINED_STATUS
        .plan-name-red
          %h2= "#{order.event_item.event.name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= "quantity: #{order.quantity}"
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == Order::CANCELED_STATUS
        .plan-name-lightblue
          %h2= "#{order.event_item.event.name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= "quantity: #{order.quantity}"
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_path(order), class: 'btn btn-warning' unless order.check_status
      - else
        .plan-name-maroon
          %h2= "#{order.event_item.event.name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= "quantity: #{order.quantity}"
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_path(order), class: 'btn btn-warning'
= paginate @orders

%hr
.pricing-table.pricing-three-column.row
  %h3 Product Orders
  - @order_products.each do |order|
    .plan.col-sm-4.col-lg-4
      - if order.status == OrderProduct::VALIDATED_STATUS
        .plan-name-gold
          %h2= "eclipse-meals/parking"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == OrderProduct::PROGRESS_STATUS
        .plan-name-silver
          %h2= "eclipse-meals/parking"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == Order::DECLINED_STATUS
        .plan-name-red
          %h2= "eclipse-meals/parking"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning' unless order.check_status
      - elsif order.status == Order::CANCELED_STATUS
        .plan-name-lightblue
          %h2= "eclipse-meals/parking"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning' unless order.check_status
      - else
        .plan-name-maroon
          %h2= "eclipse-meals/parking"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= order.status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning'
= paginate @order_products
