.row
  .col-lg-12
    %h1 Order Information
    %p
      %strong Order ID:
      = @order.id
    %p
      %strong Order Date:
      = @order.created_at
    %p
      %strong Order Status:
      = @order.extended_status
    %p
      %strong Event:
      = @order.event_item.event.name
    %p
      %strong Event Item:
      = @order.event_item.description
    %p
      %strong Item Price:
      = number_to_currency(@order.event_item.price)
    %p
      %strong Item Tax:
      = @order.event_item.tax > 0.0 ? @order.event_item.tax : '--'
    %p
      %strong Order Quantity:
      = @order.quantity
    %p
      %strong Dates of Event:
      = @order.dates
    %p
      %strong Order Name:
      = @order.first_name + ' ' + @order.last_name
    %hr
    %h4
      %strong Order Total:
      = number_to_currency(@order.total)
.container
  .row
    .col-md-12.col-md-4
      .panel.panel-default.credit-card-box
        .panel-heading.display-table
          .row.display-tr
            %h3.panel-title.display-td Payment Details
            = render "layouts/seal", class: 'purchase'
            .display-td
              = image_tag "accepted_c22e0.png", alt: 'cards', class: 'img-responsive pull-right'
        .panel-body
          = form_tag make_purchase_order_path(@order) do
            .row
              .col-md-12
                .form-group
                  = label_tag 'cc_num', 'Credit Card Number'
                  = text_field_tag 'cc_num', '', placeholder: 'XXXXXXXXXXXXXXXX', class: 'form-control', required: true, "x-autocompletetype" => "cc-number"
            .row
              .col-md-7.col-md-7
                .form-group
                  = label_tag 'exp_date', 'Expiration Date'
                  = text_field_tag 'exp_date', '', placeholder: 'MMYY', class: 'form-control', required: true, pattern: '[0-9]{4}'
              .col-md-5.col-md-5.pull-right
                .form-group
                  = label_tag 'ccv', 'CCV'
                  = text_field_tag 'ccv', '', placeholder: 'XXX', class: 'form-control', required: true, pattern: '[0-9]{3}'
            .row
              .col-md-12
                = label_tag 'zip', 'Billing Zip'
                = text_field_tag 'zip', '', placeholder: 'XXXXX', class: 'form-control', required: true, pattern: '[0-9]{5}'
            .row
              .col-md-12
                = submit_tag 'Purchase!', class: 'btn btn-success'
                = link_to 'Back', :back, class: 'btn btn-danger'
            .row{:style => "display:none;"}
              .col-md-12
                %p.payment-errors
