%h1 Purchase
.container
  .row
    .col-md-12.col-md-4
      .panel.panel-default.credit-card-box
        .panel-heading.display-table
          .row.display-tr
            %h3.panel-title.display-td Payment Details
            .display-td
              = image_tag "accepted_c22e0.png", alt: 'cards', class: 'img-responsive pull-right'
        .panel-body
          = form_tag make_purchase_order_path(@order) do
            .row
              .col-md-12
                .form-group
                  = label_tag 'cc_num', 'Credit Card Number'
                  = text_field_tag 'cc_num', '', placeholder: 'XXXXXXXXXXXXXXXX', class: 'form-control', required: true, "x-autocompletetype" => "cc-number"
            .row
              .col-md-7.col-md-7
                .form-group
                  = label_tag 'exp_date', 'Expiration Date'
                  = text_field_tag 'exp_date', '', placeholder: 'MMYY', class: 'form-control', required: true, pattern: '[0-9]{4}'
              .col-md-5.col-md-5.pull-right
                .form-group
                  = label_tag 'ccv', 'CCV'
                  = text_field_tag 'ccv', '', placeholder: 'XXX', class: 'form-control', required: true, pattern: '[0-9]{3}'
            .row
              .col-md-3.col-md-3
                .form-group
                  = label_tag 'first_name', 'First Name'
                  = text_field_tag 'first_name', '', placeholder: '',class: 'form-control', required: true
            .row
              .col-md-3.col-md-3
                .form-group
                  = label_tag 'last_name', 'Last Name'
                  = text_field_tag 'last_name', '', placeholder: '',class: 'form-control', required: true
            .row
              .col-md-6
                .form-group
                  = label_tag 'address', 'Street Address'
                  = text_field_tag 'address', '', placeholder: '',class: 'form-control', required: true
              .col-md-4
                .form-group
                  = label_tag 'city', 'City'
                  = text_field_tag 'city', '', placeholder: '',class: 'form-control', required: true
              .col-md-1
                .form-group
                  = label_tag 'state', 'State'
                  = text_field_tag 'State', '', placeholder: '',class: 'form-control', required: true
            .row
              .col-md-12
                = label_tag 'zip', 'Billing Zip'
                = text_field_tag 'zip', '', placeholder: 'xxxxx', class: 'form-control', required: true, pattern: '[0-9]{5}'
            %br
            .row
              .col-md-4
                = render "layouts/seal", class: 'purchase'
              .col-md-4
                = submit_tag 'Purchase!', class: 'btn btn-success btn-lg btn-block'
              .col-md-4
                = link_to 'Back', :back, class: 'btn btn-danger btn-lg btn-block'
            .row{:style => "display:none;"}
              .col-md-12
                %p.payment-errors
