%h1= @order.check_status  ? "Receipt" : "Order Details"
- unless @products.nil?
  %hr
  .row.text-center
    - @products.each do |prod|
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          - if (prod.attachments.first.content_type.include? 'image')
            = image_tag prod.attachments.first.url, width: "300"
          - else
            = videojs_rails sources: { mp4: prod.attachments.first.url }, class: 'video'
          .caption
            %h3= prod.name
            %p= prod.description
            %p= number_to_currency prod.price
            %p
              = link_to 'add to cart', add_cart_path(prod), method: :post, class: 'btn btn-success'
              = link_to 'Show', prod, class: 'btn btn-default'
  %hr
- if @order.check_status
  .receipt
    .row
      .col-sm-6
        %address
          %p
            %strong Name:
            = @order.user.full_name
          %p
            %strong Phone #:
            = number_to_phone @order.user.phone_to_int
          %p
            %strong Address:
            = @order.user.address
          %p
            %strong City:
            = @order.user.city
          %p
            %strong State:
            = @order.user.state
          %p
            %strong Postal Code:
            = @order.user.postal_code
          %p
            %strong Country:
            = @order.user.country
        %p
          %strong Order Status:
          = @order.extended_status

      .col-xs-6.col-sm-6.col-md-6.text-right
        - if @order.finalized_on
          %p
            %em= "Verified On: #{@order.finalized_on.strftime('%m/%d/%Y %l:%M%p')}"
        - if @order.placed_at
          %p
            %em= "Auth Code: #{@order.auth_code}"
          %p
            %em= "Transaction ID: #{@order.transaction_id}"
          %p
            %em= "Placed At: #{@order.placed_at.strftime('%m/%d/%Y %l:%M%p')}"
          %p
            %em= "Order ID: #{@order.id}"

        = image_tag @order.event_item.event.attachment, width: "300"
    %br
    .row
      %div{style: "overflow-x:auto;"}
        %table.table.table-hover
          %thead
            %tr
              %th Item Name
              %th Quantity
              %th Tax
              %th.text-center Total
          %tbody
            %tr
              %td= @order.event_item.event.name
              %td.text-center= @order.quantity
              %td.text-center= @order.event_item.tax > 0.0 ? number_to_percentage(@order.event_item.tax * 100, precision: 2) : '--'
              %td.text-right= number_to_currency(@order.event_item.price)
            -#%tr
              %td  
              %td 
              %td.text-right
                %p
                  %strong Subtotal: 
                %p
                  %strong Tax: 
              %td.text-center
                %p
                  %strong $6.94
                %p
                  %strong $6.94
            %tr
              %td  
              %td  
              %td.text-right
                %h4
                  %strong Total: 
              %td.text-center.text-danger
                %h4
                  %strong= number_to_currency(@order.total)
        %h1 Thank you for your order.


- else
  .row
    .col-xs-12.col-md-3.col-lg-3.pull-left
      .panel.panel-default.height
        .panel-heading Billing Details
        .panel-body
          %strong= @order.user.full_name
          %br
          = @order.user.address
          %br
          = @order.user.city
          %br
          = @order.user.state
          %br
          %strong= @order.user.postal_code
          %br
          = @order.user.country

  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %h3.text-center
            %strong Order summary
        .panel-body
          .table-responsive
            %table.table.table-condensed
              %thead
                %tr
                  %td
                    %strong Item Name
                  %td.text-center
                    %strong Item Tax
                  %td.text-center
                    %strong Item Quantity
                  -#%td.text-center
                    %strong Order Date
                  %td.text-center
                    %strong Order Name
                  %td.text-center
                  %td.text-right
                    %strong Price
              %tbody
                %tr
                  %td= @order.event_item.event.name
                  %td.text-center= @order.event_item.tax > 0.0 ? number_to_percentage(@order.event_item.tax * 100, precision: 2) : '--'
                  %td.text-center= @order.quantity
                  -#%td.text-center= @order.dates
                  %td.text-center= @order.user.first_name + ' ' + @order.user.last_name
                  %td.text-center
                  %td.text-right= number_to_currency(@order.event_item.price)
                -# %tr
                  %td.highrow
                  %td.highrow
                  %td.highrow
                  %td.highrow
                  %td.highrow.text-center
                    %strong Subtotal
                  %td.highrow.text-right $958.00
                  %tr
                    %td.emptyrow
                    %td.emptyrow
                    %td.emptyrow
                    %td.emptyrow
                    %td.emptyrow.text-center
                      %strong Shipping
                    %td.emptyrow.text-right $20
                %tr
                  %td.highrow
                  %td.highrow
                  %td.highrow
                  %td.highrow
                  %td.highrow.text-center
                    %strong Total
                  %td.highrow.text-right= number_to_currency(@order.total)
%br
= link_to 'Orders', orders_path, class: 'btn btn-primary btn-lg'
= link_to 'Modify Order', edit_order_path(@order), class: 'btn btn-info btn-lg' unless @order.check_status
= link_to 'Proceed to Checkout', purchase_order_path(@order), class: 'btn btn-success btn-lg' if @order.status == Order::PENDING_STATUS && @order.event_item.max_event != 0



-# Possible Additions
  %hr/
  .row
    .col-xs-12.col-md-3.col-lg-3.pull-left
      .panel.panel-default.height
        .panel-heading Billing Details
        .panel-body
          %strong David Peere:
          %br/
          1111 Army Navy Drive
          %br/
          Arlington
          %br/
          VA
          %br/
          %strong 22 203
          %br/
    .col-xs-12.col-md-3.col-lg-3
      .panel.panel-default.height
        .panel-heading Payment Information
        .panel-body
          %strong Card Name:
          Visa
          %br/
          %strong Card Number:
          ***** 332
          %br/
          %strong Exp Date:
          09/2020
          %br/
    .col-xs-12.col-md-3.col-lg-3
      .panel.panel-default.height
        .panel-heading Order Preferences
        .panel-body
          %strong Gift:
          No
          %br/
          %strong Express Delivery:
          Yes
          %br/
          %strong Insurance:
          No
          %br/
          %strong Coupon:
          No
          %br/
    .col-xs-12.col-md-3.col-lg-3.pull-right
      .panel.panel-default.height
        .panel-heading Shipping Address
        .panel-body
          %strong David Peere:
          %br/
          1111 Army Navy Drive
          %br/
          Arlington
          %br/
          VA
          %br/
          %strong 22 203
          %br/
