%h1 Checkout
%h2 You are checking out the following
%hr

.row
  - @cart.items.each do |item|
    .col-sm-6
      %p
        %strong
          Amount Of Items:
          = item.quantity
      %p
        %strong
          Product Name:
          = item.product.name
    %p
      %strong
        Total price:
        = number_to_currency item.total_price
%h3
  = "The total cost is #{number_to_currency(@cart.total_price)}"

=form_for @order_product, multipart: true do |f|
  = errors_for @order_product
  .form-group
    %p=f.text_field :first_name, placeholder: "First Name", class: "form-control input-lg"
    %p=f.text_field :last_name, placeholder: "Last Name", class: "form-control input-lg"
    %p=f.hidden_field :total, value: @cart.total_price

  %p=f.submit "Place order", class: "btn btn-primary"
