.row
  .col-lg-12
    %h1 Your Cart
.row
  .col-lg-12
    %div{style: "overflow-x:auto;"}
      %table.table.table-hover
        %thead
          %tr
            %th Product
            %th Quantity
            %th.text-center Price
            %th.text-center Total
            %th  
        %tbody
          - @cart.items.each do |item|
            %tr
              %td.col-sm-8.col-md-6
                .media
                  - if (item.product.attachments.first.content_type.include? 'image')
                    = image_tag item.product.attachments.first.url, height: "150"
                  - else
                    = videojs_rails sources: { mp4: item.product.attachments.first.url }, class: 'video'
                  %h4.media-heading
                    = link_to item.product.name, product_path(item.product.id)
                  %span Status:
                  %span.text-success
                    %strong= item.product.status
              %td= item.quantity
              %td= number_to_currency item.product.price
              %td= number_to_currency item.total_price
              %td= link_to "Remove from cart", remove_cart_path(item.product.id), method: :post, class: 'btn btn-danger'
          %tr
            %td  
            %td  
            %td  
            %td
              %h3 Total
            %td.text-right
              %h3
                %strong= number_to_currency @cart.total_price
          %tr
            %td  
            %td  
            %td  
            %td= link_to 'Continue Shopping',  root_path, class: 'btn btn-primary btn-large'
            %td
              - unless current_user.nil?
                - if current_user.check_nullity?
                  = link_to 'Update Account', auto_update_role_cart_url, method: :post, class: 'btn btn-lg btn-info'
                - else
                  = link_to '#', "data-toggle" => "modal", "data-target" => "#order-modal" do
                    .btn.btn-lg.btn-success Order!
              - else
                = link_to new_registration_path(User.new) do
                  .btn.btn-lg.btn-primary Sign Up!

- if current_user
  .modal.fade{role: 'dialog', id: 'order-modal'}
    = nested_form_for @order_product, remote: true, authenticity_token: true, data: { rel: "#modal-header", target: "#errors"} do |f|
      .modal-dialog.modal-md{role: 'document'}
        .modal-content
          .modal-header{id: "modal-header"}
            %button.close{type: 'button', "data-dismiss" => "modal", "aria-label" => "Close"}
              %span{"aria-hidden" => "true"}
                &times;
            %h1 Order Summary
          .modal-body
            %div{id: "errors"}
            %h2= "Your current total cost #{number_to_currency @cart.total_price} "
            %h3.center Item Infomation
            %br
            = f.fields_for :order_product_items do |opi|
              %br
              .row
                .col-md-8
                  = opi.hidden_field :product_id
                  = opi.label "change quantity (goes in order)"
                .col-md-4
                  = opi.select :quantity, options_for_select((1..10).to_a, selected: "1"), {prompt: 'quantity'},{class: 'form-control selectpicker'}
            %i NOTE: current we do not ship items, your items will be placed in your room or you must pick them up
            .modal-footer
              = f.submit 'Place Order', class: 'btn btn-success'
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
