= paginator.render do
  %nav
    %ul.pagination
      %li= first_page_tag unless current_page.first?
      %li= prev_page_tag unless current_page.first?
      - each_page do |page|
        - if page.display_tag?
          %li{class: ('active' if page.current?)}= page_tag page
        - elsif !page.was_truncated?
          %li= gap_tag
      - unless current_page.out_of_range?
        %li= next_page_tag unless current_page.last?
        %li= last_page_tag unless current_page.last?
