= form_for ["admin", @category] do |f|
  = errors_for @category, false

  .row
    .col-sm-1
    .col-sm-10
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .actions.right
        = f.submit 'Submit', class: 'btn btn-success btn-lg'
        = link_to 'Back', :back, class: 'btn btn-danger btn-lg'
    .col-sm-1
