= form_for ["admin", @product], multipart: true do |f|
  = errors_for @product, true
  .row
    .col-sm-2
    .col-sm-9
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :price
        = f.text_field :price, class: 'form-control'
      .form-group
        = f.label :description
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label :page_body
        = f.cktext_area :page_body, class: 'form-control'
      .form-group
        = f.label :attachments
        = f.file_field :attachments, multiple: true, class: 'form-control'
      %i Supported formats: .jpg .jpeg .gif .png .avi .mov .mpg .mpeg .divx .mp4 .mpv
    .col-sm-1
  .row
    .col-sm-2
    .col-sm-3
      .form-group
        = f.label 'Order Status'
        = f.select :check_status, options_for_select(Order::STATUSES.keys), {prompt: 'order status'}, {class: 'form-control selectpicker'}
    .col-sm-3
      .form-group
        = f.label 'Product Status'
        = f.select :status, options_for_select(Product::STATUSES.keys), {prompt: 'product status'}, {class: 'form-control selectpicker', required: true}
    .col-sm-3
      .form-group
        = f.label 'publish'
        = f.check_box :published
    .col-sm-1

  .row
    .col-sm-2
    .col-sm-9
      .form-group
        = f.submit 'Save', class: 'btn btn-success btn-lg'
        = link_to 'Back', admin_products_path, class: 'btn btn-danger btn-lg'
    .col-sm-1
