%h2 Products
%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Total Left
        %th Image
        %th Description
        %th
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= number_to_currency product.price
          %td= product.quantity
          %td
            %ul
            - product.attachments.each do |at|
              - if (at.content_type.include? 'image')
                %li= image_tag at.url, width: "400"
              - else
                %li= videojs_rails sources: { mp4: at.url }, width: "400"
          %td= product.description
          %td
            = link_to 'Show', admin_product_path(product), class: 'btn btn-success btn-block'
            = link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-warning btn-block'

= link_to 'New Product', new_admin_product_path, class: 'btn btn-block btn-success btn-lg'
