%h1 Products
%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Image
        %th Description
        %th
        %th
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= number_to_currency product.price
          %td= image_tag product.image.thumb
          %td= product.description
          %td= link_to 'Show', admin_product_path(product), class: 'btn btn-success'
          %td= link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-warning'
          %td

= link_to 'New Product', new_admin_product_path, class: 'btn btn-block btn-success'
