%h2 Products
%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Image
        %th Description
        %th
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= number_to_currency product.price
          %td
            - product.attachments.each do |at|
              - if (at.content_type.include? 'video')
                = video_tag at.thumb.url
              - else
                = image_tag at.image_thumb.url
          %td= product.description
          %td
            = link_to 'Show', admin_product_path(product), class: 'btn btn-success btn-block'
            = link_to 'Edit', edit_admin_product_path(product), class: 'btn btn-warning btn-block'

= link_to 'New Product', new_admin_product_path, class: 'btn btn-block btn-success btn-lg'
