%p#notice= notice

%h1= @product.name
%p= number_to_currency @product.price

%div.slider
  %div.bx-wrapper
    %div.bx-viewport
      = bx_slider do
        - @product.attachments.each do |at|
          - if (at.content_type.include? 'image')
            %li= image_tag at.url
          - else
            %li= videojs_rails sources: { mp4: at.url }
= @product.page_body.html_safe

%p
  = link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-warning'
  = link_to 'Back', admin_products_path, class: 'btn btn-danger'
