%nav.navbar.navbar-fixed-top.admin-nav
  .row
    .col-sm-4
      %h3.white
        = link_to "Event Admin".html_safe, admin_path, class: "navbar-brand"
    .col-sm-4
      %br
      = form_tag admin_layouts_admin_navigation_path, method: :get, id: "redis_form", remote: true do
        .form-group.result-container
          = text_field_tag :users, params[:users], id: 'redis_field_form', placeholder: "Search...", class: "form-control"
    .col-sm-4
      .collapse.navbar-collapse
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
                = current_user.email
                %span.glyphicon.glyphicon-user
                %strong Profile
                %span.glyphicon.glyphicon-chevron-down
              %ul.dropdown-menu
                %li
                  .navbar-login
                    .row
                      .col-lg-12
                        %p= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete
                    .row
                      .col-lg-12
                        .card.hovercard
                          .cardheader
                            = image_tag current_user.gravatar_url(secure: true)

                %li= link_to 'Event Admin', admin_path if current_user && current_user.has_role?(:admin)
                %li= link_to 'Orders', orders_path
                %li= link_to 'Site', root_path
                %li.divider{role: "separator"}
                %li= link_to "Account", user_path(current_user.id)
        - else
          %li= link_to 'Login', new_session_path(User.new)
