%h2 Users

%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Email
        %th Locked
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.locked_at ? 'LOCKED' : ''
          %td
            = link_to 'show', admin_user_path(user), class: 'btn btn-success btn-block'
            = link_to 'edit', edit_admin_user_path(user), class: 'btn btn-warning btn-block'

= paginate @users
