%h1= "#{@user.full_name} Profile Page"

.row.profile
  .col-md-3
    .profile-sidebar
      .profile-userpic
        = image_tag @user.gravatar_url(secure: true), class: 'img-responsive'
      .profile-usertitle
        .profile-usertitle-name
          = @user.full_name
        .profile-usertitle-job
          = @user.email
      .profile-userbuttons
        = link_to 'Update Account', '#service-three', "data-toggle" => "tab", class: 'btn btn-warning btn-lg'
        = link_to 'Back', admin_users_path, class: 'btn btn-danger btn-lg'
      .profile-usermenu
        %ul.nav
          %li.active
            %a{:href => "#"}
              %i.glyphicon.glyphicon-home
              Overview
          %li
            = link_to ' Account information', '#service-two', "data-toggle" => "tab", class: 'i glyphicon glyphicon-user'
  .col-md-9
    .profile-content
      #myTabContent.tab-content
        #service-one.tab-pane.fade.in.active
          = render 'form', user: @user
        #service-two.tab-pane.fade
          = render file: 'admin/users/show_account_info'
        #service-three.tab-pane.fade
          = render 'form', user: @user
      %hr
