%h1 Products

%div{style: "overflow-x:auto;"}
  %table.table
    %thead
      %tr
        %th Name
        %th Price
        %th Image
        %th Description
        %th
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td= product.name
          %td= number_to_currency product.price
          %td= image_tag product.image.thumb
          %td= product.description
          %td= link_to 'Show', product, class: 'btn btn-success'
          %td
            = link_to "Add to cart", add_cart_path(product), method: :post, class: 'btn btn-success'
            = link_to "Remove from cart", remove_cart_path(product), method: :post, class: 'btn btn-danger'
