#products.row.list-group
  - @products.each do |product|
    .item.col-xs-4.col-lg-4
      .thumbnail
        = image_tag product.image, class: 'group list-group-image'
        .caption
          %h4.group.inner.list-group-item-heading
            = product.name
          %p.group.inner.list-group-item-text
            = product.description
        .row
          .col-xs-12.col-md-6
            %p.lead
              = number_to_currency product.price
          .col-xs-12.col-md-6
            = link_to "Add to cart", add_cart_path(product), method: :post, class: 'btn btn-success btn-block'
            = link_to "Remove from cart", remove_cart_path(product), method: :post, class: 'btn btn-danger btn-block'
