%h1= @product.name
.container-fluid
  .content-wrapper
    .item-container
      .container
        .col-md-1
        .col-md-10
          - if (@product.attachments.first.content_type.include? 'image')
            = image_tag @product.attachments.first.url, class: 'product'
          - else
            = videojs_rails sources: { mp4: @product.attachments.first.url }, class: 'video'
          %hr
          .product-desc= @product.description
          -#.product-rating
            %i.fa.fa-star.gold
            %i.fa.fa-star.gold
            %i.fa.fa-star.gold
            %i.fa.fa-star.gold
            %i.fa.fa-star-o
          %hr
          .product-price= number_to_currency @product.price
          .product-stock= @product.status
          %hr
          .btn-group
            = link_to 'add to cart', add_cart_path, method: :post, class: 'btn btn-success'
          .btn-group
            = link_to "Remove from cart",remove_cart_path, method: :post, class: 'btn btn-danger'
          .btn-group
            = link_to "clear cart", clear_cart_path, method: :post, class: 'btn btn-warning'
        .col-md-1
    .container-fluid
      .col-md-12.product-info
        %ul#myTab.nav.nav-tabs.nav_tabs
          %li.active
            = link_to 'Description', '#service-one', "data-toggle" => "tab"
          -#%li
            %a{"data-toggle" => "tab", :href => "#service-two"} PRODUCT INFO
            %li
              %a{"data-toggle" => "tab", :href => "#service-three"} REVIEWS
        #myTabContent.tab-content
          #service-one.tab-pane.fade.in.active
            %section.container.product-info
              = @product.page_body.html_safe
          #service-two.tab-pane.fade
            %section.container
          #service-three.tab-pane.fade
        %hr
