%h1 Orders
.pricing-table.pricing-three-column.row
  - @order_products.each do |order|
    .plan.col-sm-4.col-lg-4
      - if order.status == Order::VALIDATED_STATUS
        .plan-name-gold
          %h2= "#{order.first_name} #{order.last_name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= current_user.has_role?(:admin) ? order.status : order.extended_status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning'
      - elsif order.status == Order::PROGRESS_STATUS
        .plan-name-silver
          %h2= "#{order.first_name} #{order.last_name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= current_user.has_role?(:admin) ? order.status : order.extended_status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning'
      - else
        .plan-name-maroon
          %h2= "#{order.first_name} #{order.last_name}"
          %span= number_to_currency(order.total)
        %ul
          %li.plan-feature= current_user.has_role?(:admin) ? order.status : order.extended_status
          %li.plan-feature
            = link_to 'Show', order, class: 'btn btn-success'
            = link_to 'edit', edit_order_product_path(order), class: 'btn btn-warning'
= paginate @order_products
