.row
  .col-lg-12
    %h1 Order Information
    %p
      %strong Order ID:
      = @order_product.id
    %p
      %strong Order Date:
      = @order_product.created_at
    %p
      %strong Order Status:
      = @order_product.extended_status

    - @order_product.order_product_items.each do |oi|
      %p
        %strong Product:
        = oi.product.name
      %p
        %strong Product Description:
        = oi.product.description
      %p
        %strong Product Quantity:
        = oi.quantity
      %p
        %strong Order Name:
        = @order_product.first_name + ' ' + @order_product.last_name
    %hr
    %h4
      %strong Price:
      = number_to_currency(@order_product.total)

.container
  .row
    .col-md-12.col-md-4
      .panel.panel-default.credit-card-box
        .panel-heading.display-table
          .row.display-tr
            %h3.panel-title.display-td Payment Details
            = render "layouts/seal", class: 'purchase'
            .display-td
              = image_tag "accepted_c22e0.png", alt: 'cards', class: 'img-responsive pull-right'
        .panel-body
          = form_tag make_purchase_order_product_path(@order_product) do
            .row
              .col-md-12
                .form-group
                  = label_tag 'cc_num', 'Credit Card Number'
                  = text_field_tag 'cc_num', '', placeholder: 'XXXXXXXXXXXXXXXX', class: 'form-control', required: true, "x-autocompletetype" => "cc-number"
            .row
              .col-md-7.col-md-7
                .form-group
                  = label_tag 'exp_date', 'Expiration Date'
                  = text_field_tag 'exp_date', '', placeholder: 'MMYY', class: 'form-control', required: true, pattern: '[0-9]{4}'
              .col-md-5.col-md-5.pull-right
                .form-group
                  = label_tag 'ccv', 'CCV'
                  = text_field_tag 'ccv', '', placeholder: 'XXX', class: 'form-control', required: true, pattern: '[0-9]{3}'
            .row
              .col-md-12
                = label_tag 'zip', 'Billing Zip'
                = text_field_tag 'zip', '', placeholder: 'XXXXX', class: 'form-control', required: true, pattern: '[0-9]{5}'
            .row
              .col-md-12
                = submit_tag 'Purchase!', class: 'btn btn-success'
                = link_to 'Back', :back, class: 'btn btn-danger'
            .row{:style => "display:none;"}
              .col-md-12
                %p.payment-errors
