%h1 Order Details

- if @order_product.status == OrderProduct::PROGRESS_STATUS
  .row
    .col-sm-6
      %p
        %strong Order ID:
        = @order_product.id
      %p
        %strong Order Date:
        = @order_product.created_at
      %p
        %strong Order Status:
        = @order_product.extended_status
      - @order_product.order_product_items.each do |opi|
        %p
          %strong Product:
          = opi.product.name
        %p
          %strong Product Description:
          = opi.product.description
        %p
          %strong Item Price:
          = number_to_currency(opi.product.price)
        %p
          %strong Product Quantity:
          = opi.quantity
      %p
        %strong Order Name:
        = @order_product.user.first_name + ' ' + @order_product.user.last_name
.row
  .col-xs-12.col-md-3.col-lg-3.pull-left
    .panel.panel-default.height
      .panel-heading Billing Details
      .panel-body
        %strong= @order_product.user.first_name + ' ' + @order_product.user.last_name
        %br
        = @order_product.user.address
        %br
        = @order_product.user.city
        %br
        = @order_product.user.state
        %br
        %strong= @order_product.user.postal_code
        %br
        = @order_product.user.country
  -#
    .col-xs-12.col-md-3.col-lg-3
      .panel.panel-default.height
        .panel-heading Payment Information
        .panel-body
          %strong Card Name:
          Visa
          %br/
          %strong Card Number:
          ***** 332
          %br/
          %strong Exp Date:
          09/2020
          %br/
    .col-xs-12.col-md-3.col-lg-3
      .panel.panel-default.height
        .panel-heading Order Preferences
        .panel-body
          %strong Gift:
          No
          %br/
          %strong Express Delivery:
          Yes
          %br/
          %strong Insurance:
          No
          %br/
          %strong Coupon:
          No
          %br/
    .col-xs-12.col-md-3.col-lg-3.pull-right
      .panel.panel-default.height
        .panel-heading Shipping Address
        .panel-body
          %strong David Peere:
          %br/
          1111 Army Navy Drive
          %br/
          Arlington
          %br/
          VA
          %br/
          %strong 22 203
          %br/

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.text-center
          %strong Order summary
      .panel-body
        .table-responsive
          %table.table.table-condensed
            %thead
              %tr
                %td
                  %strong Item Name
                %td.text-center
                  %strong Item Quantity
                %td.text-center
                  %strong Tax
                %td.text-right
                  %strong Item Price
            %tbody
              - @order_product.order_product_items.each do |opi|
                %tr
                  %td= opi.product.name
                  %td.text-center= opi.quantity
                  %td.text-center= number_to_percentage(opi.product.tax * 100, precision: 0)
                  %td.text-right= number_to_currency(opi.product.price)
              %tr
                %td.highrow
                %td.highrow
                %td.highrow.text-center
                  %strong Total
                %td.highrow.text-right= number_to_currency(@order_product.total)
%br
= link_to 'Orders', orders_path, class: 'btn btn-primary btn-lg'
= link_to 'Modify Order', edit_order_product_path(@order_product), class: 'btn btn-info btn-lg' if can? :edit, @order_product
= link_to 'Proceed to Checkout', purchase_order_product_path(@order_product), class: 'btn btn-success btn-lg' if @order_product.status == Order::PENDING_STATUS
