= link_to admin_path do
  = text_icon :tachometer
  Dashboard

= link_to admin_users_path do
  = text_icon :users
  Users
= link_to admin_roles_path do
  = text_icon :wrench
  Roles
= link_to admin_events_path do
  = text_icon :calendar
  Events
= link_to admin_products_path do
  = text_icon :diamond
  Products
= link_to admin_orders_path do
  = text_icon :shopping_cart
  Orders
