%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      .col-sm-4
        .navbar-header
          %button.navbar-toggle.collapsed{"data-toggle" => "collapse", "data-target" => "#navbar", "aria-expanded" => "false", "aria-controls" => "navbar"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      .col-sm-4
        %strong
          = link_to "Event Admin", admin_path, class: "navbar-brand"
      .col-sm-4
        .collapse.navbar-collapse
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
                  = current_user.email
                  %span.glyphicon.glyphicon-user
                  %strong Profile
                  %span.glyphicon.glyphicon-chevron-down
                %ul.dropdown-menu
                  %li
                    .navbar-login
                      .row
                        .col-lg-12
                          %p= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete
                      .row
                        .col-lg-12
                          .card.hovercard
                            .cardheader
                              = image_tag current_user.gravatar_url(secure: true)
                            .bottom

                  %li= link_to 'Event Admin', admin_path if current_user && current_user.has_role?(:admin)
                  %li= link_to 'Orders', orders_path
                  %li= link_to 'Site', root_path
                  %li.divider{role: "separator"}
                  %li= link_to "Account", user_path(current_user.id)
          - else
            %li= link_to 'Login', new_session_path(User.new)
