!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Events
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
  = stylesheet_link_tag 'bootstrap-select.min.css'

  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'bootstrap-select.min.js'
  = javascript_include_tag "nested_form"

%body{style: 'margin-top: 200px'}
  = render template: 'layouts/navigation'
  .container
    = display_flash
    = yield
  %hr
    = render file: 'layouts/footer'
