%footer
  .footer-wrapper
    .col-lg-4
      %section.contact{itemscope: "", itemtype: "http://schema.org/CollegeOrUniversity"}
        %h4 Contact Support
        %p
          != "#{mail_to 'support@housing.siu.edu', 'support@housing.siu.edu', encode: :hex}"
    .col-lg-7
      %section.footer-links
        %h2.hide SIU Footer Links
        %ul
          %li= link_to  'Careers', 'http://siu.edu/jobs/'
          %li= link_to  'Equal Opportunity Employer', 'http://siu.edu/eoe/'
          %li= link_to  'Title IX', 'http://diversity.siu.edu/title9.html', onclick: "trackOutboundLink('http://diversity.siu.edu/title9.html'); return false;"
          %li= link_to 'Emergency Procedures', 'http://siu.edu/emergency/index.php'
          %li= link_to 'Web Privacy Policy', 'http://policies.siu.edu/policies/webprivacy.html', onclick: "trackOutboundLink('http://policies.siu.edu/policies/webprivacy.html'); return false;"
        %p
          = "Updated #{Time.now.strftime("%B %d %Y")}"
          %br
            != "&copy; #{Time.now.year}"
            = link_to 'SIU Board of Trustees', 'http://bot.siu.edu'
    .col-lg-1
      %section.seal
        = render 'layouts/seal'
