%nav.navbar.navbar-default.navbar-fixed-top
  .container-top
    .navbar-header
      .logo
        = link_to image_tag("siu-logo-horizontal.png", alt: "Southern Illinois University Logo",class: 'navbar-brand'), "http://siu.edu"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.right
        %li
        %li
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
              = current_user.email
              %span.glyphicon.glyphicon-user
              %strong Profile
              %span.glyphicon.glyphicon-chevron-down
            %ul.dropdown-menu
              %li
                .navbar-login
                  .row
                    .col-lg-12
                      %p= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete
                  .row
                    .col-lg-12
                      .card.hovercard
                        .cardheader
                          = image_tag current_user.gravatar_url

              %li= link_to 'Admin Interface', admin_path if current_user && current_user.has_role?(:admin)
              %li= link_to 'Orders', orders_path
              %li= link_to 'Events', events_path
              %li= link_to 'Products', products_path
              - if current_user.roles.any?
                %li.divider{role: "separator"}
                %li= link_to "Account", user_path(current_user.id)
        - else
          %li= link_to 'Login', new_session_path(User.new)
  %nav.navbar.navbar-default.navbar-lower{role: "navigation"}
    .collapse.navbar-collapse
      .row
        .col-sm-1
        .col-sm-5
          %h2.navbar-nav.navbar-left
            %strong
              = link_to 'University Housing', root_path
        .col-sm-5
          .navbar-nav.navbar-right
            .row
              .col-sm-6
                %h4
                  Contact Housing 618.453.2301
                  %br
                  != "#{mail_to 'support@housing.siu.edu', 'support@housing.siu.edu', encode: :hex}"
              .col-sm-6
                = render "layouts/cart"
        .col-sm-1
