%nav.navbar.navbar-default.navbar-fixed-top.admin
  .container-top
    .navbar-header
      .logo
        = link_to image_tag("siu-logo-horizontal.png", alt: "Southern Illinois University Logo",class: 'navbar-brand'), "http://siu.edu"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right.right
        %li
        %li
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
              = current_user.email
              %span.glyphicon.glyphicon-user
              %strong Profile
              %span.glyphicon.glyphicon-chevron-down
            %ul.dropdown-menu
              %li
                .navbar-login
                  .row
                    .col-lg-12
                      %p= link_to 'Logout', destroy_user_session_path, class: 'btn btn-danger btn-block', method: :delete
                  .row
                    .col-lg-12
                      .card.hovercard
                        .cardheader
                          = image_tag current_user.gravatar_url
                        .info
                          .title
                          .h3
                          .desc #{current_user.email}

                        .bottom

              %li= link_to 'Admin Interface', admin_path if current_user && current_user.has_role?(:admin)
              %li= link_to 'Products', products_path
              %li= link_to 'Event Orders', orders_path
              %li= link_to 'Product Order', order_products_path
              %li.divider{role: "separator"}
              %li= link_to "Account", edit_user_registration_path
        - else
          %li= link_to 'Login', new_session_path(User.new)
  %nav.navbar.navbar-default.navbar-lower{role: "navigation"}
    .collapse.navbar-collapse
      .row
        .col-sm-1
        .col-sm-5
          %h2.navbar-nav.navbar-left
            %strong
              = link_to 'University Housing Events', root_path
        .col-sm-5
          .navbar-nav.navbar-right
            .row
              .col-sm-5
                %h4
                  618.453.2301
                  %br
                  != "#{mail_to 'housing@siu.edu', 'housing@siu.edu', encode: :hex}"
              .col-sm-7
                = render "layouts/cart"
        .col-sm-1
.parent2
  .test1
    %i= link_to "", edit_user_registration_path, class: 'fa fa-user fa-2x white'
  .test2
    %i= link_to '', events_path, class: 'fa fa-calendar fa-2x white'
  .test3
    %i= link_to '', products_path, class: 'fa fa-diamond fa-2x white'

  .test4
    %i.fa.fa-envelope-o.fa-2x
  .mask2
    %i.fa.fa-home.fa-3x= link_to '', root_path
